/* Start footer */
/* Styling for the footer */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Styling for the footer */
footer {
    background-color: #663399;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.p {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
    /* Decreased margin to make it more compact */
}

.containr {
    display: flex;
}

.list {
    flex: 1;
    padding: 0px;
    margin-left: 10px;
    /* Decreased margin-left for more compact spacing */
    margin-top: 70px;
}

.list:not(:first-child) {
    margin-left: 0;
    /* Removed margin-left to reduce spacing between lists */
}

.list-header {
    font-size: 18px;
    font-weight: bold;
   
    /* Decreased margin for a more compact look */
}

.heading {
    font-size: 24px;
    margin: 0;
    padding: 5px 0;
    /* Decreased padding for a more compact look */
    white-space: pre-line;
}


.heading a {
    text-decoration: none;
    color: #333;
}

.heading a:hover {
    color: red;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the icons horizontally */
}

.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    /* Apply circular border-radius */
    overflow: hidden;
    /* Hide any overflow content */
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    text-align: center;
    /* Center the images */
    margin-bottom: 20px;
    /* Add some spacing between container and icon-container */
}

.item {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 200px;
}

.item img {
    max-width: 20px;
    margin-right: 20px;
}

.item a {
    text-decoration: none;
    color: #333;
}

.item a:hover {
    color: red;
}

.img1B {
    width: 100px;
    margin-top: 0px;
    margin-left: 10px;
    flex: 1;
    z-index: 1;
    border: 2px;
    position: absolute;
    top: 10px;
    /* Adjust the top position as needed */
    left: 10px;
    /* Adjust the left position as needed */
}


.img2B {
    position: absolute;
    top: 0px;
    /* Adjust the top position as needed */
    left: 40px;
    width: 250px;
    z-index: 1;
    transition: opacity 0.3s ease;
    /* Adding transition */
}

.container {
    position: relative;
    max-width: 100%;
}
.itemPara {
    font-size: 22px;
}


@media screen and (min-width: 768px) {

.list-header {
 
        margin-bottom: 20px;
    }

}
/* Mobile-specific styling for the footer */
@media screen and (max-width: 767px) {
    footer {
        background-color: #663399;
        padding: 10px 0px 40px 0px;
        max-width: 500px;
        margin: 0 auto;
    }

    .containr {
        flex-wrap: wrap;
        /* Allow items to wrap to the next line */
        justify-content: flex-start;
        /* Center-align items horizontally */
    }

    .list {
        margin: -5px;
        max-width: 250px;
    }
        .list-header {
    
            margin-bottom: 5px;
        }
    /* Remove the margin from the last list item */
    .list:last-child {
        margin-right: 0;
    }


    .heading {
        font-size: 18px;
    }

    .icon-container {
        margin-bottom: 30px;
    }

    .item {
        margin-left: 0;
    }

    .img1B {
        width: 60px;
    }
    .img2B {
        margin-top: 0px;
        left: 40px;
        width: 100px;
        transition: opacity 0.3s ease;
    }
}

/* End footer */