body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}



  .full-width-section {
      background-image: url("./services/ser1.jpeg");
      background-size: cover;
      background-position: center;
    transition: opacity 0.5s ease;
      }

.transparent {
    opacity: 0;
}

.image {
    flex: 1;
}

.text {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 30%;
    color: white;
}

  .responsive-image {
    height: auto;
    border-radius: 20px;
        /* You can adjust the value as needed */
}
.responsive-imageUni{
        max-height: 40%;
        border-radius: 20px;
}
.p1{
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h11{
    font-size: 15px;
}
ol,ul{
    font-size: 24px;
    
}
.p2{
    font-size: 20px;
}

@media screen and (min-width: 768px) {
section {
        display: flex;
        padding: 40px;
        box-sizing: border-box;
    }

    .secUni {
        margin-top: -400px;
    }

.full-width-section {
        padding: 500px;
        height: 100%;
    }
.responsive-imageUni {
    width: 200%;
    margin-left: 50px;
}
  .responsive-image {
      max-width: 200%;
      margin-left: 50px;
      /* You can adjust the value as needed */
  }
  .text {
      margin-left: 30%;
  }
  ol,
  ul {
      
      margin-left: 40px;

  }

}


/* Apply styles to the first section */
@media screen and (max-width: 767px) {
    .full-width-section {
        position: relative;
        height: 100vh;
        padding: 100px;
    }

    .transparent {
        opacity: 0;
    }

    .responsive-imageUni {
        width: 90%;
        margin: 20px 0;
    }

    .responsive-image {
        max-width: 90%;
        margin: 10px 0 20px 20px;
    }

    .text {
        margin: 0 auto;
        text-align: center;
    }


    .h11 {
       
        text-align: center;
    }

    ol,
    ul {
        margin-left: 5px;
    }

    .p2 {
        text-align: center;
    }

}