body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

section {
    display: flex;
    padding: 40px;
    box-sizing: border-box;
}
.secUni{
    margin-top: -400px;
}

  .full-width-section {
      background-image: url("./services/ser1.jpeg");
      background-size: cover;
      background-position: center;
      padding: 500px;
      height: 100%;
    transition: opacity 0.5s ease;
      }

.transparent {
    opacity: 0;
}

.image {
    flex: 1;
}

.text {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 30%;
    color: white;
}

  .responsive-image {
    max-width: 200%;
    height: auto;
    border-radius: 20px;
    margin-left: 50px;
        /* You can adjust the value as needed */
}
.responsive-imageUni{
    width: 200%;
        max-height: 40%;
        border-radius: 20px;
        margin-left: 50px;
}
.p1{
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h11{
    font-size: 15px;
}
ol,ul{
    font-size: 24px;
    margin-left: 40px;
    
}
.p2{
    font-size: 20px;
}